@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  background: #f5f3ef;
  color: #111;
  font-family: "Helvetica", sans-serif;
  margin-left: 10%;
}

.section {
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 10%;
}

.vertical-title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 2rem;
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: brown;
  position: absolute;
  right: 1rem;
  top: 5rem;
  margin-right: 2%;
}

.name {
  font-size: 1rem;
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  color: brown;
  margin-top: 2%;
}

.big-title {
  font-size: 3rem;
  font-weight: bold;
  color: brown;
  font-family: "Albert Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin-top: 50rem;
  margin-left: 2%;
}

.circle-title {
  position: absolute;
  font-size: 16rem;
  color: brown;
  line-height: 1;
  right: 10%;
}

.content {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

img {
  max-width: 300px;
  height: auto;
}

.title {
  position: absolute;
  font-size: 3rem;
  color: brown;
  line-height: 1;
  left: 2rem;
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
  margin-top: 20rem;
  margin-left: 2%;
}

h6 {
  font-size: 2rem;
  color: brown;
  line-height: 1;
  left: 2rem;
}

p {
  font-size: large;
  margin-left: 30%;
}

li {
  font-size: large;
}

.section_concept {
  width: 80%;
  margin-left: 5%;
}

h2 {
  margin-left: 2%;
}

.ques {
  padding: 2rem;
}

.screenshot {
  width: 50rem;
  height: auto;
  align-items: center;
}
